@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-transition {
    @apply transition-colors duration-200 ease-in-out;
  }

  .grid-cols-custom-3 {
    grid-template-columns: "repeat(3, minmax(240px, 255px))";
  }
}

@layer base {
  li {
    @apply cursor-pointer
    list-none;
  }
}

@font-face {
  font-family: "Rubik-light";
  src: url("../../public/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Rubik-reg";
  src: url("../../public/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik-med";
  src: url("../../public/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 500;
}
